.container{

    display: flex;
    background-color: pink;
    
}

nav h3 {
    display: flex;
    display: inline;
    padding: 25px;
    margin-top: 2px;
    
}
nav form{
    display: flex;
    display: inline;
    margin-left: 100px;
    /* padding: 25px; */
}


nav, h3, a{
    margin-top: 24px;
}

#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
}

.images{
    width: 80%;
    height: 60%;
    /* display: inline-block; */
    display:flex;
    justify-content: center;
    margin-left: 2.4em;
    
}

.card{
    width: 25%;
    height: 10%;
    box-shadow: 0 2px 4px 3px brown;
    padding: 1.5em;
    margin-bottom: 2em;
}

p{
    font-size: 1.6em;
    font-weight: bold;
    /* margin-bottom: 0px; */

    /* align-items: flex-end; */
}

span{
    justify-content: space-around;
    font-weight:bold;
    font-style: italic;
    font-size: 1.2em;
    margin: 25px;
   
    
}

 /* span  p{
   
    display: flex;
    align-items: flex-end;

} */

.contnt{
    

 position: relative;
 bottom: 0;
 right: 0;
}



